{% set taxon = hookable_metadata.context.taxon %}

<summary>
    {# <a class="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> #}
        {{ taxon.name }}
    {# </a> #}
</summary>
