<h1 class="h5 mb-4">{{ 'sylius.ui.summary_of_your_order'|trans }}</h1>

<div class="card border-0 bg-neutral mb-3 p-6">
    <div class="flex flex-col gap-1">
        {% hook 'header' %}
    </div>
</div>
