<div class="col-span-full md:col-start-2 md:col-span-8 lg:col-span-6 xl:col-span-4 xl:col-start-8  max-lg:order-first">
    <div class="flex justify-center items-center h-full px-3">
        <div class="w-full lg:py-5 mb-5 lg:my-5">
            {% hook 'form_container' %}
        </div>
    </div>
</div>
