<div class="col-span-full md:col-start-2 md:col-span-8 lg:col-start-1 lg:col-span-6 lg:order-first">
    <div class="flex justify-center items-center bg-neutral rounded-lg h-full p-3">
        {% hook 'register_container' %}
    </div>
</div>
