<div class="flex items-center justify-between mb-6">
    <p class="heading-4">{{ 'sylius.ui.cart'|trans }}</p>
    <button type="button" class="btn btn-primary" js-close-cart aria-label="Close cart">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>
