<div class="flex items-center justify-between mb-6">
    <h5 class="heading-4">{{ 'sylius.ui.cart'|trans }}</h5>
    <button type="button" classs="btn btn-primary" js-close-cart>
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>
