<a {{ sylius_test_html_attribute('edit-button') }} class="btn btn-sm btn-primary" href="{{ path('sylius_shop_account_address_book_update', { 'id': hookable_metadata.context.address.id }) }}">
    <i class="fa-regular fa-pen"></i>
    {{ 'sylius.ui.edit'|trans }}
</a>