{# Rendered with \Sylius\Bundle\ShopBundle\Twig\Component\Product\ProductSummaryComponent #}

<div class="col-span-12 md:col-span-5 " {{ attributes }}>
    <div class="sticky pt-2" style="top: 3rem;" {{ sylius_test_html_attribute('product-box') }}>
        {% hook 'summary' with { product, variant } %}
    </div>
</div>
