{% macro default(back_text, back_link, can_submit = true) %}
    {% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

    <div class="flex justify-between flex-row gap-2 flex-wrap">
        {{ buttons.default(back_link, back_text, null, 'fa-chevron-left', 'btn-light btn-icon') }}
        <button type="submit" class="btn btn-primary {% if not can_submit %} disabled{% endif %}"{% if not can_submit %} disabled{% endif %} {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }} <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
{% endmacro %}

{% macro complete(confirm_text) %}
    {% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

    <div class="text-center">
        {{ buttons.submit(confirm_text, 'confirmation-button', null, 'btn-primary') }}
    </div>
{% endmacro %}