{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set cart = hookable_metadata.context.cart %}

<div class="flex items-center justify-between gap-2 border-top pt-4 mt-4">
    <div class="heading-6">{{ 'sylius.ui.order_total'|trans }}:</div>
    <div class="heading-6 text-end" {{ sylius_test_html_attribute('cart-grand-total') }}>{{ money.convertAndFormat(cart.total) }}</div>
</div>
