<div class="container my-auto">
    <div class="container my-6">
        <div class="grid gap-6 grid-cols-12 justify-content-center mt-4 mb-5">
            <div class="col-span-12 md:col-start-4 md:col-span-6">
                {% hook 'content' %}
            </div>
        </div>
    </div>
</div>
