<div class="col-span-12 md:col-span-6 mb-3" {{ sylius_test_html_attribute('shipping-address') }}>
    <div class="card border-0 bg-neutral p-6">
        {% hook 'shipping' with {'address': hookable_metadata.context.order.shippingAddress} %}
    </div>
</div>