<div class="bg-primary">
    <div class="container py-2">
        <div class="flex justify-between items-center gap-3 flex-wrap">
            {% hook 'top_bar' %}
            {% include '@SyliusShop/shared/layout/base/header/top_bar/theme_switcher.html.twig' %}
        </div>
    </div>
</div>