{% if not hookable_metadata.context.customer.user.verified %}
    <form {{ sylius_test_html_attribute('verification-form') }} action="{{ path('sylius_shop_user_request_verification_token') }}" method="post">
        <button class="btn btn-sm btn-primary" type="submit" {{ sylius_test_html_attribute('verification-button') }}>
            <i class="fa-regular fa-check"></i>
            {{ 'sylius.ui.verify'|trans }}
        </button>
    </form>
{% endif %}