<div class="w-full border-b ">
    {% if taxons|length > 0 %}
        <nav class="py-4">
            <div class="container">
                <ul class="menu !flex w-fit lg:menu-horizontal  rounded-box lg:mx-auto" {{ sylius_test_html_attribute('menu') }}>
                    {% hook 'sylius_shop.base.header.navbar.menu' with { taxons } %}
                </ul>
            </div>
        </nav>
    {% endif %}
</div>
