<div class="mb-6">
    <div class="overflow-hidden">
        <div class="flex justify-center items-center relative">
            <img src="{{ asset('build/shop/images/homepage-banner.webp', 'shop') }}" width="1920" height="100%" class="w-full h-auto" alt="Home">
            <img src="{{ asset('build/shop/images/homepage-banner-logo.webp', 'shop') }}" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" style="max-width: 40vw" alt="New collection">
        </div>
    </div>
</div>
