<div class="container mb-6">
    <div class="mb-5">
        <h2>{{ 'sylius.homepage.new_collection'|trans }}</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {% for i in [1, 2, 3] %}
            <div class="col-span-1 relative {{ loop.first ? 'row-span-2 max-md:h-[300px]' : ' h-[200px] md:h-[300px]' }}">
                <img
                    src="{{ asset('build/shop/images/homepage-new-collection-photo-' ~ i ~ '.webp', 'shop') }}"
                    class="object-cover w-full h-full rounded absolute"
                    alt="{{ 'sylius.homepage.new_collection'|trans }}">
            </div>
        {% endfor %}
    </div>
</div>
