<div class="overflow-auto border-bottom mb-4">
    <table class="table table-borderless table-space align-middle mb-0" {{ sylius_test_html_attribute('order-table') }}>
        {% hook 'table' %}
    </table>
</div>
